div{
    background-color: orange;
    width:700px;
    height: 770px;

}
table{
    border-collapse: collapse;
}
td, tr{
    width: 80px;
    height: 80px;
    border-collapse: collapse;
}
tr:nth-child(odd) td:nth-child(odd) {
    background-color: white;
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: black;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: black;
}
tr:nth-child(even) td:nth-child(even) {
    background-color: white;
}
th{
    text-align: center;
    width:30px;
    height: 50px;
}